@import "@/styles/import.scss";
.sidebar {
  height: 100%;
  @include noTextSelect;
  background: $bgColor;
}

.SideBarHeader {
  height: 136px;
  background-color: $primaryColor !important;
  color: #fff !important;
  position: relative;
  .avatar {
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
  }
  .address {
    position: absolute;
    bottom: 16px;
    left: 24px;
    font-size: 14px;
    font-weight: 500;
    .name {
      display: block;
    }
    .email {
      margin-top: 2px;
    }
  }
  .action {
    position: absolute;
    right: 0;
    top: 16px;
    right: 8px;
  }
}

.SideBarList {
  :global {
    .toggle-icon {
      transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .mu-item__open .toggle-icon {
      transform: rotate(180deg);
    }
  }
}
